@use "sass:math";
@import "../style.scss";

// Override remaining styles
.line {
	stroke: $primary;
}

.point {
	stroke: $primary;
}

.gridline {
	stroke: $secondary-dark;
	stroke-width: 0.5px;
}

.label-y {
	fill: $secondary;
    color: $secondary;
    font-size: 0.2rem;
    line-height: 1;
}

.label-x {
	fill: $secondary;
    color: $secondary;
    font-size: 0.2rem;
    line-height: 1;
	

}

#chart {
	height: 70vh;
}