@use "sass:math";
@import "../style.scss";

.chart {
	max-height: 80vh;
	max-width: 100vw;
	width: 100%;
}

.line {
	stroke: $primary;
}

.windpoint {
	stroke-width: 0.1px;
	fill: $primary;
}

.qc-fail {
	stroke: $secondary-dark;
}

.gridline {
	stroke: $secondary-dark;
	stroke-width: 0.5px;
}

.label-y {
	display: flex;
	fill: $secondary;
    color: $secondary;
    font-size: 0.3rem;
    line-height: 1;
}

.label-x {
	display: flex;
	fill: $secondary;
    color: $secondary;
    font-size: 0.3rem;
	position: relative;
    justify-content: flex-end;
    transform-origin: 100% 0;
	transform: translate(-100%) rotate(-45deg);
    white-space: nowrap;
}