@import "../style.scss";

.error {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 128px;
	background: url('@/assets/error.png') 50% 50% no-repeat $background-color;
}

.errorMessage {
	text-align: center;
	color: $primary;
	font-weight: 700;
}