@import "../style.scss";

.view-container {
    margin-top: 50px;
    text-align: center;
}

ul {
    padding-left: 0;
}

.view {
    cursor: pointer;
    border-radius: 5px;
    background-color: $background-dark;
    text-align: center;
    color: $secondary;
    font-weight: 500;
    padding: 5px;
    list-style-type: none;
    display: inline-block;
    margin: 1px;
}

.active {
    background-color: $primary;
    color: $background-dark;
}