.view-container {
    margin-top: 50px;
    text-align: center;
}

ul {
    padding-left: 0;
}

.view {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0d0221;
    text-align: center;
    color: #2de2e6;
    font-weight: 500;
    padding: 5px;
    list-style-type: none;
    display: inline-block;
    margin: 1px;
}

.active {
    background-color: #ff6c11;
    color: #0d0221;
}