$background-color: #261447;

body {
	background-color: $background-color;
	font-family: 'Quicksand', sans-serif;
}

.error {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: url('@/assets/error.png') 50% 50% no-repeat $background-color;
}

.errorMessage {
	text-align: center;
	color: #ff6c11;
	font-weight: 700;
}

.title {
	text-align: center;
	color: #ff6c11;
	font-weight: 700;
  }