$background-color: #261447;
$background-dark: #0d0221;
$primary: #ff6c11;
$secondary: #2de2e6;
$secondary-dark: #2de2e633;
$highlight: #f9c80e;

body {
	background-color: $background-color;
	font-family: 'Quicksand', sans-serif;
}