$background-color: #261447;
$background-dark: #0d0221;
$primary: #ff6c11;
$secondary: #2de2e6;

body {
	background-color: $background-color;
	font-family: 'Quicksand', sans-serif;
}

.title {
	text-align: center;
	color: $primary;
	font-weight: 700;
  }